**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/AppData

# Medya dosyalari Docker image'e dahil (volume bos ise gorunmez)
# VizitLink3D.Api/wwwroot/medya/

# Gecici dosyalar
**/*.tmp
**/*.log
**/publish-test
**/Guncelle

# IDE dosyalari
**/*.user
**/*.suo
**/.idea
